
<div class="row mx-0 banner-info d-flex justify-content-between align-items-center rounded-lg shadow-sm my-auto">
	<div class="social col-lg-6">
		<ul class="list-unstyled d-flex justify-content-start align-items-center my-auto">
			<li>
				<a href="#" class="banner-icon"><i class="bi bi-facebook"></i></a>
			</li>
		</ul>
	</div>
	<div class="col-lg-6">
		<h6 class="d-flex justify-content-end banner-message align-items-center mt-2 fw-semibold">Envíos a todo el país GRATIS en compras mayores de $15.000</h6>
	</div>
</div>