<div class="container py-5">
  <div class="">
    <h2 class="font-monospace h1 text-center">
      MIS DISEÑOS<span class="dot-bg">•</span>
    </h2>

    <div class="text-lg text-center">
      <p>
        Nuestros diseños son un manifiesto inspirado en la mujer, su fuerza
        y su pasión. Cada prenda con su delicado diseño y atención meticulosa 
        a los detalles, expresa la feminidad en su máximo esplendor.
      </p>
    </div>

    <div class="row btn-row mx-auto">
      <a class="btn btn-brown" href="/collections/amar">VER TODOS LOS DISEÑOS</a>
    </div>
  </div>
</div>

<style>
  .dot-bg {
    color: #c29173;
  }
  .btn-row {
    width: 250px;
  }
  .btn-brown {
    text-align: center;
    background-color: #c29173;
    color: #eee;
    padding: 8px;
  }
</style>
