<div class="container pb-5">
  <div class="align-ltr-center spaced-column">
    <div class="d-flex justify-content-center align-items-center">
      <img
        src="/star.png"
        alt=""
        srcset="/star.png"
        width="100"
        height="100"
        loading="lazy"
        sizes="60px"
        class="theme-img text-center"
      />
    </div>

    <div class="text-lg text-center">
      <p>
        Utilizamos materiales de alta calidad, ofreciendo una variedad de tallas
        y estilos para diferentes tipos de cuerpo.
      </p>
    </div>
  </div>
</div>
